
/*/////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// GENERAL //////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////*/

*{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
}
html{
    height: 100%;
    margin: 0%;
    padding: 0%;
}
body{
    height: 100%;
    margin: 0%;
    padding: 0%;
}
section {
    box-sizing: border-box;
  }

/*/////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// MAIN //////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////*/







/*/////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// HEADER //////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////*/
header{
    background-color: black;
    min-height: 100vh;
    margin: 0%;
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
    text-align: center;
}
h1{
    color: #ffffff;
    
}
p{
    color: #ffffff;  
}
ul{
    color: #ffffff;
    text-decoration: none;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// SECTION //////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////////VIDEO/////////////////////////////////////////////////////////*/

#section_video{
    background-image: url(image_de_fond_1.png) ;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
    text-align: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

/*//////////////////////////////////////////AFFICHE/////////////////////////////////////////////////////////*/

#section_affiche{
  background-color: black;
  color: #ffffff;
  margin: 0%;
  
}
h2{
    color: #ffffff;
    text-align: center;
    padding-top: 3%;
    margin: 0%;
    display: block; 
}
#affiche{
    display: block;
    margin-top: 5%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/*//////////////////////////////////////////PROG/////////////////////////////////////////////////////////*/
#prog{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    min-height: 90vh;
}

#illustration_2{
    width: 100%;
}
#prog>ul{
    list-style: none;
    text-align: center;
    font-size: 0.8em;
    padding-top: 3%;
}


/*//////////////////////////////////////////fond_vache/////////////////////////////////////////////////////////*/
#fond_vache{
    background-image: url(illustration_2.png) ;
    background-size: cover;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
    text-align: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// NAV //////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////*/
nav{
    color: #ffffff;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}




/*/////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// FOOTER //////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////*/


footer{
    background-color: black;
    margin: 0%;
    padding: 0%;
    padding-top: 10%;
    padding-bottom: 13%;
}
nav>ul{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

nav>ul>li{
    display: inline;
}
a{
    text-decoration: none;
    color: white;
    
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}